body{
    background-color: #FFE5B4;
}

.my-nav{
    background-color: #FFA500;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
  }
li a{
    padding: 10px;
}

h1, h2{
    text-align: center;
}

section{
    text-align: center;
}

.home{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}
.container{
    display: grid;
    justify-content: space-between;

}

.img-item{
        padding: 20px;
    font-size: 30px;
}
